.student-details{
    border-bottom: 3px solid goldenrod;
}
.p{
    background: green;
    font-weight: bolder;
    color: white;
  

}
.a{
    background: red;
    font-weight: bolder;
    color: white;
}