<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <app-nav-user></app-nav-user>

  </nav>

  <!-- Page Content Holder -->
  <div id="content" *ngIf="saint$ | async as student; else loading">

    <app-toggle-user-menu></app-toggle-user-menu>

    <div class="row student-details">
      <div class="col-sm-6">
        <h2>{{student[0].name}} Details</h2>
        <table>
          <tr>
            <td>
              <b>Name:</b>
            </td>
            <td>
              {{student[0].title}} {{ student[0].name}}  {{ student[0].surname}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Email:</b>
            </td>
            <td>
              {{ student[0].email}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Cell No.:</b>
            </td>
            <td>
              {{ student[0].cell}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Adress:</b>
            </td>
            <td>
              {{ student[0].address}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Age group:</b>
            </td>
            <td>
              {{ student[0].agegroup}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Merital <br> Status:</b>
            </td>
            <td>
              {{ student[0].meritalStatus}}
            </td>
          </tr>
        </table>
      </div>

    
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Attendece History </h2>
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th>DATE</th>
                    <th>REASON</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let subject of student[0].registerLS">
                    <td>
                      <span class="badge {{subject.status}}">{{subject.status}}</span>
                      {{subject.date}}
                    </td>
                    <td>{{subject.reason}}</td>
                   
                  </tr>
                </tbody>
              </table>
              <ng-template #noSubs>
                <h3>No Subjects allocated</h3>
              </ng-template>
            </div>
          


          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <app-loading>

    </app-loading>
  </ng-template>
